@model List<CMS.Web.Areas.Administrator.ViewModels.MenuItemViewModel>

@for (int i = 0; i < Model.Count; i++)
{
    <li>
        @Html.ActionLink(Model[i].Name, "ComponentView", "Home", new { targetController = Model[i].Controller,
                                                        targetAction = Model[i].Action,
                                                        targetParameters = Model[i].Parameters }, 
                                                        null)
    </li>
}