.article-list-published{
    width: 20px;
    height: 20px;
}

.published-true{
    background-image: url("/Components/ComArticles/Content/published-true.png");
}

.published-false{
    background-image: url("/Components/ComArticles/Content/published-false.png");
}

.btn-icon{
    width: 33px;
    height: 25px;
    padding: 0;
}

.trash-icon{
    color: rgb(200, 0, 0);
    font-size: 22px;
}