@model ComArticles.Models.TestModel

@using (Html.BeginForm("ApplyForm", "Components"))
{
    <div>
        @Html.TextBoxFor(p => p.Name)
        @Html.ValidationMessageFor(p => p.Name)
    </div>
    <div>
        @Html.TextBoxFor(p => p.Age)
        @Html.ValidationMessageFor(p => p.Age)
    </div>

    <input type="submit" value="Zapisz" />
}