<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <item>
    <key>DB-Address</key>
    <value>.</value>
  </item>
  <item>
    <key>DB-Name</key>
    <value>.</value>
  </item>
  <item>
    <key>DB-InitialCatalog</key>
    <value>CMS</value>
  </item>
  <item>
    <key>DB-IntegratedSecurity</key>
    <value>true</value>
  </item>
  <item>
    <key>DB-UserName</key>
    <value></value>
  </item>
  <item>
    <key>DB-Password</key>
    <value></value>
  </item>
</configuration>