<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="CMS.Core" />
  <namespace name="CMS.Core.Services" />
  <namespace name="CMS.Core.Services.Implementations" />
  
  <container>
    <register type = "ILoggerService" mapTo ="NLogLogger" />
  </container>
</unity>